<!doctype html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    {# Load Drupal related css assets before the main content #}
    <css-placeholder token="{{ placeholder_token }}">

    {# Load Drupal related javascript assets before the main content #}
    <js-placeholder token="{{ placeholder_token }}">
    {# Display scoped declarations within this block, inherits it's contents from the inherited page template #}
    {% block document_head %}{% endblock %}
  </head>
  <body{{ attributes }}>
    {# Append additional elements before Drupal appends any content #}
    {{ block('document_before') }}

    {# This hook is required by Drupal: https://www.drupal.org/node/254940#closure #}
    {{ page_top }}

    {# Display main content from Drupal #}
    {{ page }}

    {# This hook is required by Drupal: https://www.drupal.org/node/254940#closure #}
    {{ page_bottom }}

    {# Append additional elements before Drupal appends any content #}
    {{ block('document_after') }}

    {# Load Drupal related javascript assets after the main content #}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
