{#
/**
 * Default document layout for a Drupal Page
 *
#}

{% block document_before %}{% endblock %}

<div class="sticky-end">
  <div class="sticky-end__header">
    {{ block('header_before') }}
    {{ page.header }}
    {{ block('header_after') }}
  </div>

  <div class="sticky-end__main">
    {{ block('content_before') }}
    {{ page.content }}
    {{ block('content_after') }}
  </div>

  <div class="sticky-end__footer">
    {{ block('footer_before') }}
    {{ page.footer }}
    {{ block('footer_after') }}
  </div>
</div>

{% block document_after %}{% endblock %}